.login {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  &__title {
  font-weight: 400;
  text-align: center;
  }

  &__subtitle {
    color: #afafaf;
    font-size: 0.62rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}