.layout {




    &__card {
        width: 100%;
        border: 1px solid;
        margin-top: 10px;


        &__body {
            width: 100%;
            border: 1px solid;


            

            &__section {
                display: flex;
                border: 1px solid;

            }
        }
    }
}
