.modal {
  &__content {
    padding: 1.5rem;
    height: 10.75rem;

    &__time-frame-select {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__file-format-text {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.625rem;
    }

    &__file-format-select {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
