.modal {
    width: 612px;


    &__content {
        padding: 24px;
        gap: 10px;
        height: 172px;

        
        

        &__timeFrameSelect {
            display: flex;
            align-items: center;
            justify-content: center;


        }
        &__fileFormatText {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;

        }

        &__fileFormatSelect {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }


}