.layout {
  &__card {
    width: 100%;
    margin-top: 10px;

    &__body {
      width: 100%;
      //   outline: 1px solid gray;
      min-height: 60dvh;
      &__section {
        display: flex;
      }
    }
  }
}
